In [1]:
import pandas as pd
dcdf=pd.read_csv('dc_list2.csv')

In [2]:
dcdf['star']=-1

In [3]:
dcdf.head()

,categories,city,id,name,price,rating,review_count,zip_code,star
0,newamerican,Washington,roses-luxury-washington,Rose's Luxury,$$$,4.5,1229,20003,-1
1,greek,Washington,komi-washington,Komi,$$$$,4.5,644,20036,-1
2,indpak,Washington,rasika-washington,Rasika,$$$,4.5,2229,20004,-1
3,newamerican,Washington,minibar-by-josé-andrés-washington-7,minibar by José Andrés,$$$$,4.5,253,20004,-1
4,seafood,Washington,fiola-mare-washington,Fiola Mare,$$$,4.5,573,20007,-1

In [4]:
#list of michelin star'ed restaurants
msdf=pd.read_csv('michelin_star_restaurants2.csv')
msdf.head()

,categories,city,id,name,price,rating,review_count,zip_code
0,newamerican,Chicago,alinea-chicago,Alinea,$$$$,4.5,1542,60614
1,newamerican,Chicago,grace-chicago-3,Grace,$$$$,4.5,234,60661
2,newamerican,Chicago,42-grams-chicago,42 grams,$$$$,4.5,66,60640
3,newamerican,Chicago,acadia-chicago,Acadia,$$$$,4.0,334,60616
4,newamerican,Chicago,sixteen-chicago,Sixteen,$$$$,3.5,373,60611

In [5]:
#list of non-Michelin star restaurants
nodf=pd.read_csv('no_star_restaurants2.csv')
nodf.head()

,categories,city,id,name,price,rating,review_count,zip_code
0,thai,Chicago,herb-chicago,Herb,$$$,4.5,123,60640
1,tradamerican,Chicago,untitled-supper-club-chicago,Untitled Supper Club,$$$,3.5,715,60654
2,newamerican,Chicago,gilt-bar-chicago,Gilt Bar,$$$,4.0,1290,60654
3,ramen,Chicago,slurping-turtle-chicago,Slurping Turtle,$$,3.5,1163,60654
4,mexican,Chicago,frontera-grill-chicago,Frontera Grill,$$$,4.0,1810,60654

In [6]:
nodf['star']=0

In [7]:
star=pd.read_csv('michelin_list2.csv')
star.head()

                 id  star
0    alinea-chicago     3
1   grace-chicago-3     3
2  42-grams-chicago     2
3    acadia-chicago     2
4   sixteen-chicago     2

In [8]:
#adding stars to Michelin restaurants
result=pd.merge(msdf,star,how='left',on='id')

In [9]:
result[result['star'].isnull()]

,categories,city,id,name,price,rating,review_count,zip_code,star
43,modern_european,New York,bâtard-new-york,Bâtard,$$$$,4.0,172,10013,NaN
49,szechuan,New York,café-china-new-york-2,Café China,$$,3.5,655,10016,NaN
92,newamerican,Brooklyn,the-river-café-brooklyn-3,The River Café,$$$$,4.0,722,11201,NaN
96,german,New York,wallsé-new-york-2,Wallsé,$$$,4.0,195,10014,NaN
105,french,Palo Alto,baumé-palo-alto-5,Baumé,$$$$,4.0,306,94306,NaN
122,french,San Francisco,keiko-à-nob-hill-san-francisco-2,Keiko à Nob Hill,$$$$,4.5,312,94109,NaN

In [10]:
#manally adding stars to those that are unassigned due to accented words on id
result['star'][43]=1
result['star'][49]=1
result['star'][92]=1
result['star'][96]=1
result['star'][105]=2
result['star'][122]=1

C:\Users\Ouisu\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Ouisu\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\Ouisu\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Ouisu\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Ouisu\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Ouisu\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
result.shape

(148, 9)

In [12]:
print dcdf.shape
dcdf=dcdf.drop_duplicates()
dcdf=dcdf[dcdf.categories != 'categories']
print dcdf.shape

(87, 9)
(54, 9)

In [13]:
trainer = result.append(nodf)

In [14]:
trainer.shape

(290, 9)

In [15]:
#converting dollar signs to numbers
dcdf.ix[dcdf.price == '$$','price']=2
dcdf.ix[dcdf.price == '$$$','price']=3
dcdf.ix[dcdf.price == '$$$$','price']=4

In [16]:
trainer.ix[trainer.price == '$$','price']=2
trainer.ix[trainer.price == '$$$','price']=3
trainer.ix[trainer.price == '$$$$','price']=4

In [17]:
# from sklearn.preprocessing import LabelEncoder

# lbl = LabelEncoder()
# lbl.fit(list(dcdf['price'].values) + list(trainer['price'].values))
# dcdf['price'] = lbl.transform(dcdf['price'].values)
# trainer['price'] = lbl.transform(trainer['price'].values)

In [18]:
#converting objects to numbers
dcdf['rating']=pd.to_numeric(dcdf['rating'])
dcdf['price']=pd.to_numeric(dcdf['price'])
dcdf['review_count']=pd.to_numeric(dcdf['review_count'])
dcdf['star']=pd.to_numeric(dcdf['star'])
trainer['rating']=pd.to_numeric(trainer['rating'])
trainer['price']=pd.to_numeric(trainer['price'])
trainer['review_count']=pd.to_numeric(trainer['review_count'])
trainer['star']=pd.to_numeric(trainer['star'])
dcdf.dtypes

categories       object
city             object
id               object
name             object
price             int64
rating          float64
review_count      int64
zip_code         object
star              int64
dtype: object

In [19]:
# from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
# ss=StandardScaler()
le=LabelEncoder()
# ss.fit(list(trainer['review_count'].values)+list(dcdf['review_count'].values))
# dcdf['review_count']=ss.transform(dcdf['review_count'].values)
# trainer['review_count']=ss.transform(trainer['review_count'].values)

le.fit(list(trainer['categories'].values)+list(dcdf['categories'].values))
dcdf['categories']=le.transform(dcdf['categories'].values)
trainer['categories']=le.transform(trainer['categories'].values)

# ss.fit(list(trainer['categories'].values)+list(dcdf['categories'].values))
# dcdf['categories']=ss.transform(dcdf['categories'].values)
# trainer['categories']=ss.transform(trainer['categories'].values)

In [20]:
y_train=trainer[['star']]
X_train=trainer[['categories','price','rating','review_count']]

In [21]:
y_test=dcdf[['star']]
X_test=dcdf[['categories','price','rating','review_count']]

In [24]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

#used random forest, extra tress, GBC, decision tree
svc = SVC().fit(X_train,y_train)
rf = RandomForestClassifier().fit(X_train,y_train)
gbc = GradientBoostingClassifier().fit(X_train, y_train)
dt = DecisionTreeClassifier(max_depth = 3, min_samples_split = 2).fit(X_train, y_train)
et = ExtraTreesClassifier(class_weight='balanced', n_jobs=-1).fit(X_train, y_train)

y_pred_svc=svc.predict(X_test)
y_pred_rf=rf.predict(X_test)
y_pred_gbc=gbc.predict(X_test)
y_pred_dt=dt.predict(X_test)
y_pred_et=et.predict(X_test)
y_pred_lr=et.predict(X_test)

C:\Users\Ouisu\Anaconda2\lib\site-packages\sklearn\svm\base.py:514: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y_ = column_or_1d(y, warn=True)
C:\Users\Ouisu\Anaconda2\lib\site-packages\ipykernel\__main__.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
C:\Users\Ouisu\Anaconda2\lib\site-packages\sklearn\utils\validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Ouisu\Anaconda2\lib\site-packages\ipykernel\__main__.py:12: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [25]:
zip(dcdf['name'], y_pred_dt, y_pred_rf, y_pred_gbc, y_pred_et, y_pred_lr)

[("Rose's Luxury", 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Komi', 1.0, 1.0, 1.0, 2.0, 2.0),
 ('Rasika', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('minibar by Jos\xc3\xa9 Andr\xc3\xa9s', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Fiola Mare', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Fogo de Ch\xc3\xa3o Brazilian Steakhouse', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Le Diplomate', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Blue Duck Tavern', 0.0, 1.0, 1.0, 0.0, 0.0),
 ('Zaytinya', 0.0, 0.0, 0.0, 0.0, 0.0),
 ("Marcel's by Robert Wiedmaier", 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Corduroy', 0.0, 0.0, 0.0, 1.0, 1.0),
 ("Joe's Seafood, Prime Steak & Stone Crab", 0.0, 0.0, 0.0, 1.0, 1.0),
 ('Makoto Restaurant', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('1789 Restaurant', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Obelisk', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Tail Up Goat', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Rasika West End', 0.0, 0.0, 1.0, 0.0, 0.0),
 ('BlackSalt', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Bourbon Steak', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Filomena Ristorante', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Barmini By Jos\xc3\xa9 Andr\xc3\xa9s', 0.0, 1.0, 0.0, 1.0, 1.0),
 ('Pennsylvania 6 DC', 0.0, 0.0, 1.0, 0.0, 0.0),
 ('Pineapple & Pearls', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('The Capital Grille', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Thai X-ing', 0.0, 1.0, 1.0, 0.0, 0.0),
 ('Little Serow', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Rasika', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Fiola', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Bad Saint', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Brasserie Beck', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Plume', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Westend Bistro', 0.0, 0.0, 1.0, 0.0, 0.0),
 ('Sushi Capitol', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Sushi Taro', 1.0, 1.0, 3.0, 1.0, 1.0),
 ('Kinship', 1.0, 2.0, 1.0, 2.0, 2.0),
 ('Metier', 1.0, 1.0, 1.0, 1.0, 1.0),
 ("Rose's Luxury", 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Oyamel Cocina Mexicana', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Masseria', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Fig & Olive', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Doi Moi', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Central Michel Richard', 0.0, 0.0, 0.0, 1.0, 1.0),
 ('Grand Central', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Founding Farmers DC', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('The Source', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Daikaya Ramen Shop', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Izakaya Seki', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Mari Vanna', 0.0, 1.0, 0.0, 1.0, 1.0),
 ('Tachibana Japanese Restaurant', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Daikaya Izakaya', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Momiji', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Nagomi Izakaya', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Casa Luca', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Vidalia', 0.0, 0.0, 0.0, 1.0, 1.0)]

In [26]:
submit=pd.DataFrame(zip(dcdf['name'], y_pred_rf), columns=['Restaurants','Stars']).sort_values('Stars',ascending=False)

In [27]:
submit

                                Restaurants  Stars
34                                  Kinship    2.0
13                          1789 Restaurant    1.0
35                                   Metier    1.0
30                                    Plume    1.0
1                                      Komi    1.0
38                                 Masseria    1.0
24                               Thai X-ing    1.0
22                       Pineapple & Pearls    1.0
20                   Barmini By José Andrés    1.0
18                            Bourbon Steak    1.0
33                               Sushi Taro    1.0
14                                  Obelisk    1.0
27                                    Fiola    1.0
12                        Makoto Restaurant    1.0
47                               Mari Vanna    1.0
3                    minibar by José Andrés    1.0
9              Marcel's by Robert Wiedmaier    1.0
7                          Blue Duck Tavern    1.0
39                              Fig & Olive    0.0
52                                Casa Luca    0.0
36                            Rose's Luxury    0.0
37                   Oyamel Cocina Mexicana    0.0
51                           Nagomi Izakaya    0.0
50                                   Momiji    0.0
40                                  Doi Moi    0.0
49                          Daikaya Izakaya    0.0
46                             Izakaya Seki    0.0
41                   Central Michel Richard    0.0
48            Tachibana Japanese Restaurant    0.0
42                            Grand Central    0.0
43                      Founding Farmers DC    0.0
45                       Daikaya Ramen Shop    0.0
44                               The Source    0.0
0                             Rose's Luxury    0.0
32                            Sushi Capitol    0.0
31                           Westend Bistro    0.0
2                                    Rasika    0.0
4                                Fiola Mare    0.0
5         Fogo de Chão Brazilian Steakhouse    0.0
6                              Le Diplomate    0.0
8                                  Zaytinya    0.0
10                                 Corduroy    0.0
11  Joe's Seafood, Prime Steak & Stone Crab    0.0
15                             Tail Up Goat    0.0
16                          Rasika West End    0.0
17                                BlackSalt    0.0
19                      Filomena Ristorante    0.0
21                        Pennsylvania 6 DC    0.0
23                       The Capital Grille    0.0
25                             Little Serow    0.0
26                                   Rasika    0.0
28                                Bad Saint    0.0
29                           Brasserie Beck    0.0
53                                  Vidalia    0.0

In [28]:
feature_importances = pd.DataFrame(zip(dt.feature_importances_,
                               rf.feature_importances_,
                               gbc.feature_importances_,
                               et.feature_importances_),
                                   index = trainer[['categories','price','rating','review_count']].columns,
                                    columns=['dt_importance',
                                    'rf_importance','gbc_importance',
                                    'et_importance']).sort_values('rf_importance',
                                                                        ascending=False)
feature_importances.head()

              dt_importance  rf_importance  gbc_importance  et_importance
review_count       0.034309       0.437415        0.690831       0.475065
price              0.839309       0.325118        0.131552       0.243056
categories         0.126382       0.174920        0.129607       0.194423
rating             0.000000       0.062546        0.048011       0.087456

In [29]:
trainer.ix[trainer.city=='Brooklyn','city']='New York'
trainer.ix[trainer.city=='Long Island City','city']='New York'
trainer.ix[trainer.city=='Williamsburg','city']='New York'
trainer.ix[trainer.city=='Clinton Hill','city']='New York'
trainer.ix[trainer.city=='Yountville','city']='San Francisco'
trainer.ix[trainer.city=='Los Gatos','city']='San Francisco'
trainer.ix[trainer.city=='St. Helena','city']='San Francisco'
trainer.ix[trainer.city=='Palo Alto','city']='San Francisco'
trainer.ix[trainer.city=='Oakland','city']='San Francisco'
trainer.ix[trainer.city=='Rutherford','city']='San Francisco'
trainer.ix[trainer.city=='Mountain View','city']='San Francisco'
trainer.ix[trainer.city=='Forestville','city']='San Francisco'
trainer.ix[trainer.city=='Napa','city']='San Francisco'
trainer.ix[trainer.city=='Healdsburg','city']='San Francisco'
trainer.ix[trainer.city=='Saratoga','city']='San Francisco'
trainer.ix[trainer.city=='Burlingame','city']='San Francisco'
trainer.ix[trainer.city=='Calistoga','city']='San Francisco'
trainer.ix[trainer.city=='San Mateo','city']='San Francisco'
trainer.ix[trainer.city=='Saint Helena','city']='San Francisco'
trainer.ix[trainer.city=='Bodega Bay','city']='San Francisco'
trainer.ix[trainer.city=='Woodside','city']='San Francisco'
trainer.ix[trainer.city=='Sausalito','city']='San Francisco'
trainer.ix[trainer.city=='Berkeley','city']='San Francisco'
trainer.ix[trainer.city=='Albany','city']='San Francisco'

In [30]:
#standardized rating, review_count, price based on mean and std for each city
trainer.ix[trainer.city=='New York','rating']= \
(trainer.ix[trainer.city=='New York','rating']-trainer.ix[trainer.city=='New York','rating'].mean())/ \
trainer.ix[trainer.city=='New York','rating'].std()

trainer.ix[trainer.city=='San Francisco','rating']= \
(trainer.ix[trainer.city=='San Francisco','rating']-trainer.ix[trainer.city=='San Francisco','rating'].mean())/ \
trainer.ix[trainer.city=='San Francisco','rating'].std()

trainer.ix[trainer.city=='Chicago','rating']= \
(trainer.ix[trainer.city=='Chicago','rating']-trainer.ix[trainer.city=='Chicago','rating'].mean())/ \
trainer.ix[trainer.city=='Chicago','rating'].std()

dcdf['rating']= (dcdf['rating']-dcdf['rating'].mean())/dcdf['rating'].std()

trainer.ix[trainer.city=='New York','review_count']= \
(trainer.ix[trainer.city=='New York','review_count']-trainer.ix[trainer.city=='New York','review_count'].mean())/ \
trainer.ix[trainer.city=='New York','review_count'].std()

trainer.ix[trainer.city=='San Francisco','review_count']= \
(trainer.ix[trainer.city=='San Francisco','review_count']-trainer.ix[trainer.city=='San Francisco','review_count'].mean())/ \
trainer.ix[trainer.city=='San Francisco','review_count'].std()

trainer.ix[trainer.city=='Chicago','review_count']= \
(trainer.ix[trainer.city=='Chicago','review_count']-trainer.ix[trainer.city=='Chicago','review_count'].mean())/ \
trainer.ix[trainer.city=='Chicago','review_count'].std()

dcdf['review_count']= (dcdf['review_count']-dcdf['review_count'].mean())/dcdf['review_count'].std()

trainer.ix[trainer.city=='New York','price']= \
(trainer.ix[trainer.city=='New York','price']-trainer.ix[trainer.city=='New York','price'].mean())/ \
trainer.ix[trainer.city=='New York','price'].std()

trainer.ix[trainer.city=='San Francisco','price']= \
(trainer.ix[trainer.city=='San Francisco','price']-trainer.ix[trainer.city=='San Francisco','price'].mean())/ \
trainer.ix[trainer.city=='San Francisco','price'].std()

trainer.ix[trainer.city=='Chicago','price']= \
(trainer.ix[trainer.city=='Chicago','price']-trainer.ix[trainer.city=='Chicago','price'].mean())/ \
trainer.ix[trainer.city=='Chicago','price'].std()

dcdf['price']= (dcdf['price']-dcdf['price'].mean())/dcdf['price'].std()

In [31]:
#ran svc, random forest, gbc, decision tree, and extra trees
svc = SVC().fit(X_train,y_train)
rf = RandomForestClassifier().fit(X_train,y_train)
gbc = GradientBoostingClassifier().fit(X_train, y_train)
dt = DecisionTreeClassifier(max_depth = 3, min_samples_split = 2).fit(X_train, y_train)
et = ExtraTreesClassifier(class_weight='balanced', n_jobs=-1).fit(X_train, y_train)

y_pred_svc=svc.predict(X_test)
y_pred_rf=rf.predict(X_test)
y_pred_gbc=gbc.predict(X_test)
y_pred_dt=dt.predict(X_test)
y_pred_et=et.predict(X_test)

C:\Users\Ouisu\Anaconda2\lib\site-packages\sklearn\svm\base.py:514: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y_ = column_or_1d(y, warn=True)
C:\Users\Ouisu\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  app.launch_new_instance()
C:\Users\Ouisu\Anaconda2\lib\site-packages\sklearn\utils\validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Ouisu\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [56]:
from sklearn.linear_model  import LogisticRegression
lr=LogisticRegression(penalty='l1').fit(X_train,y_train)
y_pred_lr=lr.predict(X_test)

C:\Users\Ouisu\Anaconda2\lib\site-packages\sklearn\utils\validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [33]:
feature_importances = pd.DataFrame(zip(dt.feature_importances_,
                               rf.feature_importances_,
                               gbc.feature_importances_,
                               et.feature_importances_),
                                   index = trainer[['categories','price','rating','review_count']].columns,
                                    columns=['dt_importance',
                                    'rf_importance','gbc_importance',
                                    'et_importance']).sort_values('rf_importance',
                                                                        ascending=False)
feature_importances.head()

              dt_importance  rf_importance  gbc_importance  et_importance
review_count       0.034309       0.420598        0.694740       0.497206
price              0.839309       0.321175        0.132405       0.241351
categories         0.126382       0.194226        0.128197       0.177053
rating             0.000000       0.064000        0.044657       0.084389

In [80]:
zip(dcdf['name'], y_pred_dt, y_pred_rf, y_pred_gbc, y_pred_et, y_pred_lr)

[("Rose's Luxury", 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Komi', 1.0, 2.0, 1.0, 2.0, 1.0),
 ('Rasika', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('minibar by Jos\xc3\xa9 Andr\xc3\xa9s', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Fiola Mare', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Fogo de Ch\xc3\xa3o Brazilian Steakhouse', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Le Diplomate', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Blue Duck Tavern', 0.0, 0.0, 1.0, 1.0, 0.0),
 ('Zaytinya', 0.0, 0.0, 0.0, 0.0, 0.0),
 ("Marcel's by Robert Wiedmaier", 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Corduroy', 0.0, 0.0, 0.0, 1.0, 0.0),
 ("Joe's Seafood, Prime Steak & Stone Crab", 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Makoto Restaurant', 1.0, 1.0, 2.0, 1.0, 1.0),
 ('1789 Restaurant', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Obelisk', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Tail Up Goat', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Rasika West End', 0.0, 0.0, 1.0, 0.0, 0.0),
 ('BlackSalt', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Bourbon Steak', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Filomena Ristorante', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Barmini By Jos\xc3\xa9 Andr\xc3\xa9s', 0.0, 0.0, 0.0, 1.0, 0.0),
 ('Pennsylvania 6 DC', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Pineapple & Pearls', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('The Capital Grille', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Thai X-ing', 0.0, 0.0, 1.0, 1.0, 0.0),
 ('Little Serow', 0.0, 0.0, 0.0, 0.0, 1.0),
 ('Rasika', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Fiola', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Bad Saint', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Brasserie Beck', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Plume', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Westend Bistro', 0.0, 0.0, 1.0, 0.0, 1.0),
 ('Sushi Capitol', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Sushi Taro', 1.0, 1.0, 3.0, 1.0, 1.0),
 ('Kinship', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Metier', 1.0, 1.0, 1.0, 1.0, 1.0),
 ("Rose's Luxury", 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Oyamel Cocina Mexicana', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Masseria', 1.0, 1.0, 1.0, 1.0, 1.0),
 ('Fig & Olive', 0.0, 1.0, 0.0, 0.0, 0.0),
 ('Doi Moi', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Central Michel Richard', 0.0, 1.0, 0.0, 1.0, 0.0),
 ('Grand Central', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Founding Farmers DC', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('The Source', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Daikaya Ramen Shop', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Izakaya Seki', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Mari Vanna', 0.0, 1.0, 0.0, 1.0, 0.0),
 ('Tachibana Japanese Restaurant', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Daikaya Izakaya', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Momiji', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Nagomi Izakaya', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Casa Luca', 0.0, 0.0, 0.0, 0.0, 0.0),
 ('Vidalia', 0.0, 0.0, 0.0, 0.0, 0.0)]

In [85]:
#export submission to csv
import csv
submit=pd.DataFrame(zip(dcdf['name'], (y_pred_et*.9+y_pred_gbc*1.05+y_pred_lr*1.05)/3), columns=['Restaurants','Stars']).sort_values('Stars',ascending=False)

submit.to_csv('submit.csv', header=True, index=False, encoding='utf-8')

In [86]:
submit

                                Restaurants  Stars
33                               Sushi Taro   1.70
12                        Makoto Restaurant   1.35
1                                      Komi   1.30
27                                    Fiola   1.00
34                                  Kinship   1.00
38                                 Masseria   1.00
30                                    Plume   1.00
22                       Pineapple & Pearls   1.00
14                                  Obelisk   1.00
13                          1789 Restaurant   1.00
18                            Bourbon Steak   1.00
35                                   Metier   1.00
9              Marcel's by Robert Wiedmaier   1.00
3                    minibar by José Andrés   1.00
31                           Westend Bistro   0.70
7                          Blue Duck Tavern   0.65
24                               Thai X-ing   0.65
16                          Rasika West End   0.35
25                             Little Serow   0.35
41                   Central Michel Richard   0.30
10                                 Corduroy   0.30
47                               Mari Vanna   0.30
20                   Barmini By José Andrés   0.30
43                      Founding Farmers DC   0.00
44                               The Source   0.00
37                   Oyamel Cocina Mexicana   0.00
45                       Daikaya Ramen Shop   0.00
49                          Daikaya Izakaya   0.00
40                                  Doi Moi   0.00
39                              Fig & Olive   0.00
50                                   Momiji   0.00
46                             Izakaya Seki   0.00
51                           Nagomi Izakaya   0.00
48            Tachibana Japanese Restaurant   0.00
52                                Casa Luca   0.00
42                            Grand Central   0.00
0                             Rose's Luxury   0.00
36                            Rose's Luxury   0.00
15                             Tail Up Goat   0.00
2                                    Rasika   0.00
4                                Fiola Mare   0.00
5         Fogo de Chão Brazilian Steakhouse   0.00
6                              Le Diplomate   0.00
8                                  Zaytinya   0.00
11  Joe's Seafood, Prime Steak & Stone Crab   0.00
17                                BlackSalt   0.00
32                            Sushi Capitol   0.00
19                      Filomena Ristorante   0.00
21                        Pennsylvania 6 DC   0.00
23                       The Capital Grille   0.00
26                                   Rasika   0.00
28                                Bad Saint   0.00
29                           Brasserie Beck   0.00
53                                  Vidalia   0.00

In [37]:
print trainer[trainer.city=='Chicago']['review_count'].mean()
print trainer[trainer.city=='New York']['review_count'].mean()
print trainer[trainer.city=='San Francisco']['review_count'].mean()
print dcdf[dcdf.city=='Washington']['review_count'].mean()

-4.11193712824e-18
-6.13308686991e-17
-1.31316701837e-17
0.00377787045466

In [38]:
dcdf[dcdf.name=="Rose's Luxury"]

,categories,city,id,name,price,rating,review_count,zip_code,star
0,33,Washington,roses-luxury-washington,Rose's Luxury,-0.110763,1.172209,0.290876,20003,-1
61,33,Washington,roses-luxury-washington,Rose's Luxury,-0.110763,1.172209,0.292476,20003,-1

In [39]:
zip(dcdf['name'], rf.predict_proba(X_test))

[("Rose's Luxury", array([ 0.9,  0.1,  0. ,  0. ])),
 ('Komi', array([ 0. ,  0.4,  0.5,  0.1])),
 ('Rasika', array([ 1.,  0.,  0.,  0.])),
 ('minibar by Jos\xc3\xa9 Andr\xc3\xa9s', array([ 0. ,  0.8,  0. ,  0.2])),
 ('Fiola Mare', array([ 0.9,  0.1,  0. ,  0. ])),
 ('Fogo de Ch\xc3\xa3o Brazilian Steakhouse', array([ 1.,  0.,  0.,  0.])),
 ('Le Diplomate', array([ 0.6,  0.4,  0. ,  0. ])),
 ('Blue Duck Tavern', array([ 0.7,  0.3,  0. ,  0. ])),
 ('Zaytinya', array([ 0.9,  0.1,  0. ,  0. ])),
 ("Marcel's by Robert Wiedmaier", array([ 0. ,  0.8,  0.2,  0. ])),
 ('Corduroy', array([ 0.6,  0.4,  0. ,  0. ])),
 ("Joe's Seafood, Prime Steak & Stone Crab", array([ 1.,  0.,  0.,  0.])),
 ('Makoto Restaurant', array([ 0. ,  0.6,  0.4,  0. ])),
 ('1789 Restaurant', array([ 0. ,  0.7,  0.3,  0. ])),
 ('Obelisk', array([ 0. ,  0.7,  0.3,  0. ])),
 ('Tail Up Goat', array([ 0.7,  0.3,  0. ,  0. ])),
 ('Rasika West End', array([ 0.7,  0.3,  0. ,  0. ])),
 ('BlackSalt', array([ 1.,  0.,  0.,  0.])),
 ('Bourbon Steak', array([ 0. ,  0.9,  0.1,  0. ])),
 ('Filomena Ristorante', array([ 0.9,  0.1,  0. ,  0. ])),
 ('Barmini By Jos\xc3\xa9 Andr\xc3\xa9s', array([ 0.5,  0.5,  0. ,  0. ])),
 ('Pennsylvania 6 DC', array([ 0.7,  0.3,  0. ,  0. ])),
 ('Pineapple & Pearls', array([ 0.2,  0.8,  0. ,  0. ])),
 ('The Capital Grille', array([ 1.,  0.,  0.,  0.])),
 ('Thai X-ing', array([ 0.7,  0.3,  0. ,  0. ])),
 ('Little Serow', array([ 0.7,  0.3,  0. ,  0. ])),
 ('Rasika', array([ 1.,  0.,  0.,  0.])),
 ('Fiola', array([ 0.,  1.,  0.,  0.])),
 ('Bad Saint', array([ 1.,  0.,  0.,  0.])),
 ('Brasserie Beck', array([ 1.,  0.,  0.,  0.])),
 ('Plume', array([ 0. ,  0.7,  0.2,  0.1])),
 ('Westend Bistro', array([ 0.7,  0.3,  0. ,  0. ])),
 ('Sushi Capitol', array([ 0.8,  0.2,  0. ,  0. ])),
 ('Sushi Taro', array([ 0. ,  0.6,  0.1,  0.3])),
 ('Kinship', array([ 0. ,  0.6,  0.4,  0. ])),
 ('Metier', array([ 0. ,  0.8,  0.2,  0. ])),
 ("Rose's Luxury", array([ 0.9,  0.1,  0. ,  0. ])),
 ('Oyamel Cocina Mexicana', array([ 0.9,  0.1,  0. ,  0. ])),
 ('Masseria', array([ 0. ,  0.9,  0.1,  0. ])),
 ('Fig & Olive', array([ 0.3,  0.7,  0. ,  0. ])),
 ('Doi Moi', array([ 0.8,  0.2,  0. ,  0. ])),
 ('Central Michel Richard', array([ 0.1,  0.9,  0. ,  0. ])),
 ('Grand Central', array([ 0.9,  0.1,  0. ,  0. ])),
 ('Founding Farmers DC', array([ 0.8,  0.2,  0. ,  0. ])),
 ('The Source', array([ 1.,  0.,  0.,  0.])),
 ('Daikaya Ramen Shop', array([ 1.,  0.,  0.,  0.])),
 ('Izakaya Seki', array([ 0.9,  0.1,  0. ,  0. ])),
 ('Mari Vanna', array([ 0.,  1.,  0.,  0.])),
 ('Tachibana Japanese Restaurant', array([ 0.8,  0.2,  0. ,  0. ])),
 ('Daikaya Izakaya', array([ 0.9,  0.1,  0. ,  0. ])),
 ('Momiji', array([ 1.,  0.,  0.,  0.])),
 ('Nagomi Izakaya', array([ 0.8,  0.2,  0. ,  0. ])),
 ('Casa Luca', array([ 1.,  0.,  0.,  0.])),
 ('Vidalia', array([ 0.6,  0.4,  0. ,  0. ]))]